In [155]:
import pandas as pd
from datetime import datetime
import os

In [156]:
msg_total_id=pd.read_csv('./msg_total_id.csv',engine ='python')

In [157]:
msg_total_id['Area']=msg_total_id['Area'].fillna('전국')

In [158]:
msg_total_id.isnull().sum()

location_id         0
create_date         0
location_name       0
md101_sn            0
msg                 0
send_platform       0
location_sido    1099
Area                0
dtype: int64

In [159]:
msg_total_id['create_date']=pd.to_datetime(msg_total_id['create_date'])

In [160]:
msg_total_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90694 entries, 0 to 90693
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   location_id    90694 non-null  object
 1   create_date    90694 non-null  datetime64[ns]
 2   location_name  90694 non-null  object
 3   md101_sn       90694 non-null  int64
 4   msg            90694 non-null  object
 5   send_platform  90694 non-null  object
 6   location_sido  89595 non-null  object
 7   Area           90694 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 5.5+ MB

### 전체와 검사장려 문자 나누기

In [161]:
plz_be_tested = msg_total_id[msg_total_id["msg"].str.contains("선별진료소") |\
                          msg_total_id["msg"].str.contains("무기명") |\
                          msg_total_id["msg"].str.contains("증상") |\
                          msg_total_id["msg"].str.contains("발현") |\
                          msg_total_id["msg"].str.contains("의심") |\
                          msg_total_id["msg"].str.contains("가까운") |\
                          msg_total_id["msg"].str.contains("발열") |\
                          msg_total_id["msg"].str.contains("오한") |\
                          msg_total_id["msg"].str.contains("기침") |\
                          msg_total_id["msg"].str.contains("두통") |\
                          msg_total_id["msg"].str.contains("구토") |\
                          msg_total_id["msg"].str.contains("설사") |\
                          msg_total_id["msg"].str.contains("1339")
                         ]

In [162]:
plz_be_tested=plz_be_tested.drop(['location_id','location_name','md101_sn','msg','send_platform','location_sido'],axis=1)
plz_be_tested=plz_be_tested.reset_index(drop=True)
print(len(plz_be_tested))
plz_be_tested.head()

14614

          create_date Area
0 2021-06-27 10:23:41  강원권
1 2021-05-03 15:05:57  강원권
2 2021-03-27 13:20:56  강원권
3 2021-03-20 09:28:34  강원권
4 2021-03-20 08:55:53  강원권

In [169]:
#plz_be_tested.query("Area=='수도권'").groupby(plz_be_tested['create_date']).sum()

                    Area
create_date
2020-01-24 11:37:52  수도권
2020-01-24 12:39:14  수도권
2020-01-24 16:45:13  수도권
2020-01-25 09:29:53  수도권
2020-01-27 15:57:54  수도권
...                  ...
2021-07-01 16:08:36  수도권
2021-07-01 16:34:16  수도권
2021-07-01 17:01:02  수도권
2021-07-01 17:22:41  수도권
2021-07-02 10:00:07  수도권

[2970 rows x 1 columns]

In [165]:
from pandas import DataFrame

In [184]:
dat = pd.DataFrame([plz_be_tested['create_date']], columns=['수도권','충청권', '호남권', '경북권', '경남권', '강원','제주'])
dat

create_date    NaN
Name: 수도권, dtype: object

In [ ]:
plz_be_tested.groupby('create_date').agg({'create_date':'count','Area':'max'})

In [ ]:
test_msg_sent