In [1]:
# optional libraries
from datetime import datetime
import os

# data processing
import pandas as pd
import numpy as np

# plotting grapsh
import matplotlib.pyplot as plt
import seaborn as sns

# detecting peaks on the data
from scipy.signal import find_peaks_cwt

In [3]:
vacc = pd.read_csv('./vacc.csv', engine ='python', encoding='EUCKR')

In [4]:
vacc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2112 entries, 0 to 2111
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accumulatedFirstCnt   2112 non-null   int64
 1   accumulatedSecondCnt  2112 non-null   int64
 2   baseDate              2112 non-null   object
 3   firstCnt              2112 non-null   int64
 4   secondCnt             2112 non-null   int64
 5   sido                  2112 non-null   object
 6   totalFirstCnt         2112 non-null   int64
 7   totalSecondCnt        2112 non-null   int64
dtypes: int64(6), object(2)
memory usage: 132.1+ KB

In [5]:
vacc['baseDate']=pd.to_datetime(vacc['baseDate'])

In [6]:
vacc_kor=vacc[vacc['sido']=='전국']

In [7]:
vacc_kor.tail()

,accumulatedFirstCnt,accumulatedSecondCnt,baseDate,firstCnt,secondCnt,sido,totalFirstCnt,totalSecondCnt
2022,15322128,4933545,2021-07-01,14233,107695,전국,15336361,5041240
2040,15336784,5069914,2021-07-02,4043,86635,전국,15340827,5156549
2058,15341363,5188067,2021-07-03,3930,83700,전국,15345293,5271767
2076,15346047,5303295,2021-07-04,1150,16659,전국,15347197,5319954
2094,15347214,5320977,2021-07-05,0,625,전국,15347214,5321602

In [8]:
vacc_kor['daily_firstCnt']=vacc_kor['totalFirstCnt'].diff()
vacc_kor['daily_secondCnt']=vacc_kor['totalSecondCnt'].diff()

<ipython-input-8-4160af2d8bbd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacc_kor['daily_firstCnt']=vacc_kor['totalFirstCnt'].diff()
<ipython-input-8-4160af2d8bbd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacc_kor['daily_secondCnt']=vacc_kor['totalSecondCnt'].diff()