## 백신 접종현황 크롤링 via 공공데이터포털 API
[API 출처](https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15077756)
[참고자료](https://blog.naver.com/da0097/222296025258)

In [15]:
import requests
import pandas as pd

In [21]:
API_KEY = input("API키를 입력해주세요:")
PER_PAGE = 10000
BASE_DATE = "2021-07-05 00:00:00"
BASE_URL = f"https://api.odcloud.kr/api/15077756/v1/vaccine-stat?perPage={PER_PAGE}&cond%5BbaseDate%3A%3ALTE%5D={BASE_DATE}&serviceKey={API_KEY}"

API키를 입력해주세요:LIjeTmjXM07N5jnkiDlnJ5GXGQZxAI87M5XqP5ytETz4Up%2FUWa3BZ9%2BKn8fsn%2FV%2Bamqso0HY3%2F%2F8lY2gIJ7cdg%3D%3D

In [22]:
response = requests.get(BASE_URL)
response.status_code

200

In [23]:
response_obj = response.json()

In [24]:
vacc = pd.json_normalize(response_obj["data"])
vacc

,accumulatedFirstCnt,accumulatedSecondCnt,baseDate,firstCnt,secondCnt,sido,totalFirstCnt,totalSecondCnt
0,449535,0,2021-03-11 00:00:00,51100,0,전국,500635,0
1,61232,0,2021-03-11 00:00:00,12595,0,서울특별시,73827,0
2,36734,0,2021-03-11 00:00:00,3311,0,부산광역시,40045,0
3,23101,0,2021-03-11 00:00:00,2310,0,대구광역시,25411,0
4,23879,0,2021-03-11 00:00:00,1791,0,인천광역시,25670,0
...,...,...,...,...,...,...,...,...
2107,656719,238202,2021-07-05 00:00:00,0,0,전라북도,656719,238202
2108,721957,265904,2021-07-05 00:00:00,0,0,전라남도,721957,265904
2109,878842,312021,2021-07-05 00:00:00,0,0,경상북도,878842,312021
2110,1010324,345785,2021-07-05 00:00:00,0,0,경상남도,1010324,345785
2111,197910,68174,2021-07-05 00:00:00,0,0,제주특별자치도,197910,68174

In [33]:
vacc.to_csv('vacc.csv',index=False)