In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
train=pd.read_csv('../train.csv')
test=pd.read_csv('../test.csv')

In [3]:
print(train.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
print(test.isnull().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### 3-2 결측치 처리하기
 * train - Embarked
 * test - Fare

In [9]:
train['Embarked'].isnull().sum()

2

In [10]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [11]:
train['Embarked']=train['Embarked'].fillna('S')

In [12]:
train['Embarked'].isnull().sum()

0

In [13]:
print(train['Fare'].isnull().sum())
print(test['Fare'].isnull().sum())

0
1

In [14]:
test['Fare'].value_counts()

7.7500     21
26.0000    19
8.0500     17
13.0000    17
7.8958     11
           ..
9.3250      1
14.4583     1
15.0333     1
25.4667     1
21.0750     1
Name: Fare, Length: 169, dtype: int64

In [15]:
test['Fare']=test['Fare'].fillna(round(test['Fare'].mean(),4))
print(round(test['Fare'].mean(),4))

35.6272

In [16]:
test['Fare'].isnull().sum()

0

# 성별 int 타입바꾸기

In [17]:
train['Sex']=train['Sex'].map({'female':0,'male':1}).astype(int)
test['Sex']=test['Sex'].map({'female':0,'male':1}).astype(int)

# embarked int 타입바꾸기

In [18]:
train['Embarked']=train['Embarked'].map({'S':0,'C':1,'Q':2}).astype(int)
test['Embarked']=test['Embarked'].map({'S':0,'C':1,'Q':2}).astype(int)

# name int 타입바꾸기

In [19]:
# train['Title']=train['Name'].str.extract('([A-Za-z]+)\.',expand=False)
# train['Title'].value_counts()

In [20]:
# train['Title']=train['Title'].replace(['Lady','Countress','Capt','Col','Don','Dr',
#                                       'Major','Rev','Sir','Jonkheer','Dona',
#                                       'Ms','Mme'],'other')
# train['Title']=train['Title'].replace('Mlle','Miss')
# train['Title']=train['Title'].replace('Ms','Miss')
# train['Title']=train['Title'].replace('Mme','Mrs')

In [21]:
# train['Title'].value_counts()

In [22]:
# train['Title_label']=train['Title'].astype('category').cat.codes
# train[['Title','Title_label']]

In [23]:
# test['Title']=test['Name'].str.extract('([A-Za-z]+)\.',expand=False)
# test['Title'].value_counts()
# test['Title']=test['Title'].replace(['Lady','Countress','Capt','Col','Don','Dr',
#                                       'Major','Rev','Sir','Jonkheer','Dona',
#                                       'Ms','Mme'],'other')
# test['Title']=test['Title'].replace('Mlle','Miss')
# test['Title']=test['Title'].replace('Ms','Miss')
# test['Title']=test['Title'].replace('Mme','Mrs')

In [24]:
# test['Title'].value_counts()
# test['Title_label']=test['Title'].astype('category').cat.codes
# test[['Title','Title_label']]

In [25]:
train['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [26]:
all_df=[train,test]

for one in all_df:
    one['Title']=one['Name'].str.extract('([A-Za-z]+)\.',expand=False)
print(train.head())
print(test.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin  Embarked Title
0         A/5 21171   7.2500   NaN         0    Mr
1          PC 17599  71.2833   C85         1   Mrs
2  STON/O2. 3101282   7.9250   NaN         0  Miss
3            113803  53.1000  C123         0   Mrs
4            373450   8.0500   NaN         0    Mr
   PassengerId  Pclass                                          Name  Sex  \
0          892       3                              Kelly, Mr. James    1
1          893       3              Wilkes, Mrs. James (Ellen Needs)    0
2          894       2                     Myles, Mr. Thomas Francis    1
3          895       3                              Wirz, Mr. Albert    1
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0

    Age  SibSp  Parch   Ticket     Fare Cabin  Embarked Title
0  34.5      0      0   330911   7.8292   NaN         2    Mr
1  47.0      1      0   363272   7.0000   NaN         0   Mrs
2  62.0      0      0   240276   9.6875   NaN         2    Mr
3  27.0      0      0   315154   8.6625   NaN         0    Mr
4  22.0      1      1  3101298  12.2875   NaN         0   Mrs

In [27]:
train['Title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'Countess',
       'Jonkheer'], dtype=object)

In [28]:
train['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Col           2
Mlle          2
Jonkheer      1
Ms            1
Countess      1
Sir           1
Lady          1
Capt          1
Mme           1
Don           1
Name: Title, dtype: int64

In [29]:
for one in all_df:
    one['Title']=one['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    one['Title']=one['Title'].replace('Mlle','Miss')
    one['Title']=one['Title'].replace('Ms','Miss')
    one['Title']=one['Title'].replace('Mme','Mrs')
print(train['Title'].value_counts())
print(test['Title'].value_counts())

Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: Title, dtype: int64
Mr        240
Miss       79
Mrs        72
Master     21
Rare        6
Name: Title, dtype: int64

In [30]:
title_mapping={'Mr':1,'Miss':2,'Mrs':3,'Master':4,'Rare':5}
for one in all_df:
     one['Title'] = one['Title'].map(title_mapping)
     one['Title'] = one['Title'].fillna(0)
print(train['Title'].value_counts())
print(test['Title'].value_counts())

1    517
2    185
3    126
4     40
5     23
Name: Title, dtype: int64
1    240
2     79
3     72
4     21
5      6
Name: Title, dtype: int64

# 5-2 (추가) SibSp, Parch를 이용해서 FamilySize라는 특징(feature)만들기

In [31]:
# train['Family_size'] = train['SibSp'] + train['Parch'] + 1
# test['Family_size'] = test['SibSp'] + test['Parch'] + 1

# pclass로 나눠보기

In [32]:
train.groupby(['Pclass']).count()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
Pclass,,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,216,216
2,184,184,184,184,173,184,184,184,184,16,184,184
3,491,491,491,491,355,491,491,491,491,12,491,491

In [33]:
train.groupby(['Pclass','Survived','Sex']).count()

                     PassengerId  Name  Age  SibSp  Parch  Ticket  Fare  \
Pclass Survived Sex
1      0        0              3     3    3      3      3       3     3
                1             77    77   61     77     77      77    77
       1        0             91    91   82     91     91      91    91
                1             45    45   40     45     45      45    45
2      0        0              6     6    6      6      6       6     6
                1             91    91   84     91     91      91    91
       1        0             70    70   68     70     70      70    70
                1             17    17   15     17     17      17    17
3      0        0             72    72   55     72     72      72    72
                1            300   300  215    300    300     300   300
       1        0             72    72   47     72     72      72    72
                1             47    47   38     47     47      47    47

                     Cabin  Embarked  Title
Pclass Survived Sex
1      0        0        3         3      3
                1       56        77     77
       1        0       78        91     91
                1       39        45     45
2      0        0        1         6      6
                1        2        91     91
       1        0        9        70     70
                1        4        17     17
3      0        0        2        72     72
                1        4       300    300
       1        0        4        72     72
                1        2        47     47

# cabin 있는 값과 없는 값으로 나누기

In [34]:
train['Cabin'].isnull().sum()

687

In [35]:
train['Cabin'].isna()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [36]:
train.loc[train['Cabin'].isna(),'Cabin_bool']=1
train.loc[~train['Cabin'].isna(),'Cabin_bool']=0

In [37]:
train['Cabin_bool']

0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
886    1.0
887    0.0
888    1.0
889    0.0
890    1.0
Name: Cabin_bool, Length: 891, dtype: float64

In [38]:
test['Cabin'].isna()

0       True
1       True
2       True
3       True
4       True
       ...
413     True
414    False
415     True
416     True
417     True
Name: Cabin, Length: 418, dtype: bool

In [39]:
~test['Cabin'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414     True
415    False
416    False
417    False
Name: Cabin, Length: 418, dtype: bool

In [40]:
test.loc[test['Cabin'].isna(),'Cabin_bool']=1
test.loc[~test['Cabin'].isna(),'Cabin_bool']=0
test['Cabin_bool']

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
413    1.0
414    0.0
415    1.0
416    1.0
417    1.0
Name: Cabin_bool, Length: 418, dtype: float64

# age 기준으로 나누기

In [41]:
print(train.columns)
print(train.shape)
print(test.shape)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'Cabin_bool'],
      dtype='object')
(891, 14)
(418, 13)

In [42]:
all_titanic=pd.concat([train,test],join='inner')
all_titanic.shape, all_titanic.columns

((1309, 13),
 Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
        'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'Cabin_bool'],
       dtype='object'))

In [43]:
all_titanic.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_bool
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0,1,1.0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1,3,0.0
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,2,1.0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0,3,0.0
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0,1,1.0

In [44]:
all_titanic['Age']=all_titanic['Age'].fillna(all_titanic['Age'].mean())
all_titanic.isnull().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          0
Title             0
Cabin_bool        0
dtype: int64

In [45]:
all_titanic['qcut_Age']=pd.qcut(all_titanic['Age'],5,labels=False)
all_titanic[0:10]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_bool,qcut_Age
0,1,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,0,1,1.0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,1,3,0.0,3
2,3,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,0,2,1.0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,0,3,0.0,3
4,5,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,0,1,1.0,3
5,6,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,2,1,1.0,2
6,7,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,0,1,0.0,4
7,8,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,0,4,1.0,0
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,0,3,1.0,1
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,1,3,1.0,0

In [46]:
print(train.shape, test.shape)
all_titanic.shape

(891, 14) (418, 13)

(1309, 14)

In [47]:
train_df=all_titanic.iloc[0:891,:]
test_df=all_titanic.iloc[891:,:]
train_df.shape, test_df.shape

((891, 14), (418, 14))

In [48]:
train_df = pd.concat([train_df, train['Survived']],axis=1 )
train_df[0:10]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_bool,qcut_Age,Survived
0,1,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,0,1,1.0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,1,3,0.0,3,1
2,3,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,0,2,1.0,1,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,0,3,0.0,3,1
4,5,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,0,1,1.0,3,0
5,6,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,2,1,1.0,2,0
6,7,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,0,1,0.0,4,0
7,8,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,0,4,1.0,0,0
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,0,3,1.0,1,1
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,1,3,1.0,0,1

# fare를 구간나누기

In [49]:
print(train['Fare'].value_counts())
print(train['Fare'].dtypes)

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
8.4583      1
9.8375      1
8.3625      1
14.1083     1
17.4000     1
Name: Fare, Length: 248, dtype: int64
float64

In [50]:
all_titanic=pd.concat([train_df,test_df],join='inner')
all_titanic.shape, all_titanic.columns

((1309, 14),
 Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
        'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'Cabin_bool',
        'qcut_Age'],
       dtype='object'))

In [51]:
all_titanic.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_bool,qcut_Age
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0,1,1.0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1,3,0.0,3
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,2,1.0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0,3,0.0,3
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0,1,1.0,3

In [52]:
all_titanic['qcut_Fare']=pd.qcut(all_titanic['Fare'],5,labels=False)
all_titanic[0:10]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_bool,qcut_Age,qcut_Fare
0,1,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,0,1,1.0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,1,3,0.0,3,4
2,3,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,0,2,1.0,1,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,0,3,0.0,3,4
4,5,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,0,1,1.0,3,1
5,6,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,2,1,1.0,2,1
6,7,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,0,1,0.0,4,4
7,8,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,0,4,1.0,0,2
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,0,3,1.0,1,2
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,1,3,1.0,0,3

In [53]:
print(train_df.shape, test_df.shape)
all_titanic.shape

(891, 15) (418, 14)

(1309, 15)

In [54]:
train_df=all_titanic.iloc[0:891,:]
test_df=all_titanic.iloc[891:,:]
train_df.shape, test_df.shape

((891, 15), (418, 15))

In [55]:
train_df = pd.concat([train_df, train['Survived']],axis=1 )
train_df[0:10]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_bool,qcut_Age,qcut_Fare,Survived
0,1,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,0,1,1.0,1,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,1,3,0.0,3,4,1
2,3,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,0,2,1.0,1,1,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,0,3,0.0,3,4,1
4,5,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,0,1,1.0,3,1,0
5,6,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,2,1,1.0,2,1,0
6,7,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,0,1,0.0,4,4,0
7,8,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,0,4,1.0,0,2,0
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,0,3,1.0,1,2,1
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,1,3,1.0,0,3,1

# 머신러닝 돌리기

In [56]:
sel=['Pclass','SibSp','Parch','Sex','Embarked','Cabin_bool','Title','qcut_Age','qcut_Fare']

X_train=train_df[sel]
X_test=test_df[sel]
y_train=train_df['Survived']

In [57]:
from sklearn.tree import DecisionTreeClassifier
dc_tree=DecisionTreeClassifier()
dc_tree.fit(X_train,y_train)
pred=dc_tree.predict(X_test)

In [58]:
sub=pd.read_csv('../gender_submission.csv')
print(sub.columns)

Index(['PassengerId', 'Survived'], dtype='object')

In [59]:
sub['Survived']=pred
sub.to_csv('decision_first_model.csv',index=False)