In [1]:
myfood = ['banana', 'apple', 'candy']
print(myfood[0])
print(myfood[1])
print(myfood[2])
print(myfood[1:3]) # 첫번째 두번째 가져오기

banana
apple
candy
['apple', 'candy']

In [2]:
for item in myfood:
 print(item)

banana
apple
candy

In [3]:
dict1 = {'one':'하나', 'two':"둘", 'three':'셋'}
dict2 = {1:"하나", 2:"둘", 3:"셋"}
dict3 = {'col1':[1,2,3], 'col2':['a','b','c']}

In [4]:
print(dict1) 
print(dict2)
print(dict3)

{'one': '하나', 'two': '둘', 'three': '셋'}
{1: '하나', 2: '둘', 3: '셋'}
{'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']}

In [5]:
print(dict1['one'])
print(dict2[2])
print(dict3['col2'])

하나
둘
['a', 'b', 'c']

In [11]:
import pandas as pd
import seaborn as sns

In [7]:
from pandas import Series, DataFrame

In [8]:
print("pandas 버전 : ", pd.__version__)

pandas 버전 :  1.1.3

In [9]:
score = Series( [1000, 14000, 3000, 3000, 1000] ) 
print(score) 
print("자료형 확인 : ", type(score))

0     1000
1    14000
2     3000
3     3000
4     1000
dtype: int64
자료형 확인 :  <class 'pandas.core.series.Series'>

In [10]:
## Series 인덱스 확인
print(score.index) 
# 인덱스를 리스트 자료형으로 변경 후, 확인하기
print(list(score.index)) 
## Series 값 확인
print(score.values) 
## Series 값 자료형 확인
print(score.dtype)

RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]
[ 1000 14000  3000  3000  1000]
int64

In [16]:
### 인덱스(index) 속성 이용 
score = Series( [1000, 14000, 3000], 
     index = ['2019-05-01', '2019-05-02', '2019-05-03'] ) 
print(score) 
print()
print(type(score['2019-05-01'])) #하나는 넘파이
print()
print(type(score['2019-05-02':'2019-05-03'])) #두개는 시리즈형태로(인덱스있음)
print()
print(type(score))

2019-05-01     1000
2019-05-02    14000
2019-05-03     3000
dtype: int64

<class 'numpy.int64'>

<class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

In [17]:
print(score['2019-05-01']) # 인덱스 이용 - 5월 1일 날짜 점수 확인
print("-------------")
print(score['2019-05-02':'2019-05-03']) # 5월 2일, 3일 날짜 팀 점수 확인

1000
-------------
2019-05-02    14000
2019-05-03     3000
dtype: int64

In [20]:
for idx in score.index:
     print(idx)

2019-05-01
2019-05-02
2019-05-03

In [21]:
for value in score.values:
     print(value)

1000
14000
3000

In [25]:
alco = Series( ['soju','beer', 'wine','wisky','makgeolli','rum','vodka'],
    index = ['2021-06-21', '2021-06-22', '2021-06-23','2021-06-24','2021-06-25','2021-06-26','2021-06-27'] ) 
print(alco)

2021-06-21         soju
2021-06-22         beer
2021-06-23         wine
2021-06-24        wisky
2021-06-25    makgeolli
2021-06-26          rum
2021-06-27        vodka
dtype: object

In [26]:
idx=pd.date_range(start='2021-06-21',end='2021-06-27')
idx

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27'],
              dtype='datetime64[ns]', freq='D')

In [27]:
alco =['soju','beer', 'wine','wisky','makgeolli','rum','vodka']

In [28]:
schedule=Series(alco,index=idx)
schedule

2021-06-21         soju
2021-06-22         beer
2021-06-23         wine
2021-06-24        wisky
2021-06-25    makgeolli
2021-06-26          rum
2021-06-27        vodka
Freq: D, dtype: object

값 하나에 접근
 - 해당되는 index의 값으로 접근이 가능하다

In [31]:
print(schedule['2021-06-24'])
print(type(schedule['2021-06-24']))

wisky
<class 'str'>

값 여러개에 접근(슬라이싱)
 - series값으로 반환된다

In [30]:
print(schedule['2021-06-24':'2021-06-24'])
print(type(schedule['2021-06-24':'2021-06-24']))

2021-06-24    wisky
Freq: D, dtype: object
<class 'pandas.core.series.Series'>

In [32]:
print(schedule[0:3])

2021-06-21    soju
2021-06-22    beer
2021-06-23    wine
Freq: D, dtype: object

# loc와 iloc를 이용한 접근
 - loc는 데이터 프레임의 컬럼명(인덱스)를 사용하여 데이터 추출한다.
 - iloc는 데이터 프레임의 데이터 순서(번호)를 사용하여 데이터 추출(시작번호 : 0)
 - loc[ 행, 열] 접근이라고 쉽게 생각한다.

In [34]:
print(schedule.iloc[0:3]) #iloc 숫자로 접근

2021-06-21    soju
2021-06-22    beer
2021-06-23    wine
Freq: D, dtype: object

In [36]:
schedule.loc['2021-06-21':'2021-06-25'] #loc 인덱스값으로 접근

2021-06-21         soju
2021-06-22         beer
2021-06-23         wine
2021-06-24        wisky
2021-06-25    makgeolli
Freq: D, dtype: object

In [37]:
for idx in schedule.index:
    print(idx)

2021-06-21 00:00:00
2021-06-22 00:00:00
2021-06-23 00:00:00
2021-06-24 00:00:00
2021-06-25 00:00:00
2021-06-26 00:00:00
2021-06-27 00:00:00

In [38]:
for alco in schedule.values:
    print(alco)

soju
beer
wine
wisky
makgeolli
rum
vodka

In [39]:
schedule.values

array(['soju', 'beer', 'wine', 'wisky', 'makgeolli', 'rum', 'vodka'],
      dtype=object)

In [40]:
schedule.index

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27'],
              dtype='datetime64[ns]', freq='D')

# 03 데이터 프레임의 이해
 - 데이터 프레임의 객체를 생성하는 가장 간단한 방법은 딕셔너리를 이용하는 방법
 - 데이터 프레임은 Series의 결합으로 이루어진 것으로 생각할 수 있음.
 - Pandas(판다스)의 대표적인 기본 자료형이다.
 - DataFrame 함수를 이용하여 객체 생성이 가능하다.

In [41]:
from pandas import DataFrame

In [45]:
idx=pd.date_range(start='2021-06-21',end='2021-06-24')
idx

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24'], dtype='datetime64[ns]', freq='D')

In [46]:
dat = { 'col1' : [1,2,3,4],
 'col2' : [10,20,30,40],
 'col3' : ['A', 'B', 'C', 'D'] }
df = DataFrame(dat,index=idx)
df

            col1  col2 col3
2021-06-21     1    10    A
2021-06-22     2    20    B
2021-06-23     3    30    C
2021-06-24     4    40    D

In [47]:
idx=pd.date_range(start='2021-06-21',end='2021-06-25')
idx

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25'],
              dtype='datetime64[ns]', freq='D')

In [49]:
from pandas import DataFrame
team_score = { "toto":[1500,3000,5000,7000,5500],
     "apple":[4000,5000,6000,5500,4500],
     "gildong":[2000,2500,3000,4000,3000],
     "catanddog":[7000,5000,3000,5000,4000]}
team_df = DataFrame(team_score,index=idx)
team_df

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
2021-06-24  7000   5500     4000       5000
2021-06-25  5500   4500     3000       4000

In [50]:
#열 인덱스
team_df.columns

Index(['toto', 'apple', 'gildong', 'catanddog'], dtype='object')

In [51]:
#행 인덱스
team_df.index

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25'],
              dtype='datetime64[ns]', freq='D')

In [52]:
team_df.loc[:,'toto']#[행,열]

2021-06-21    1500
2021-06-22    3000
2021-06-23    5000
2021-06-24    7000
2021-06-25    5500
Freq: D, Name: toto, dtype: int64

In [56]:
print(team_df.loc[:,'toto':'apple'])
print(type(team_df.loc[:,'toto':'apple']))

            toto  apple
2021-06-21  1500   4000
2021-06-22  3000   5000
2021-06-23  5000   6000
2021-06-24  7000   5500
2021-06-25  5500   4500
<class 'pandas.core.frame.DataFrame'>

In [57]:
team_df.loc[:,'toto':]

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
2021-06-24  7000   5500     4000       5000
2021-06-25  5500   4500     3000       4000

In [58]:
team_df.loc[:,:'apple']

            toto  apple
2021-06-21  1500   4000
2021-06-22  3000   5000
2021-06-23  5000   6000
2021-06-24  7000   5500
2021-06-25  5500   4500

In [61]:
print(team_df.loc['2021-06-21',:])
print(type(team_df.loc['2021-06-21',:]))

toto         1500
apple        4000
gildong      2000
catanddog    7000
Name: 2021-06-21 00:00:00, dtype: int64
<class 'pandas.core.series.Series'>

In [62]:
print(team_df.loc[:'2021-06-21',:])
print(type(team_df.loc[:'2021-06-21',:]))

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
<class 'pandas.core.frame.DataFrame'>

In [63]:
team_df.iloc[:,:]

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
2021-06-24  7000   5500     4000       5000
2021-06-25  5500   4500     3000       4000

In [67]:
team_df.iloc[:,0:3] #인덱스이기 때문에 마지막값 포함안됨

            toto  apple  gildong
2021-06-21  1500   4000     2000
2021-06-22  3000   5000     2500
2021-06-23  5000   6000     3000
2021-06-24  7000   5500     4000
2021-06-25  5500   4500     3000

In [68]:
team_df.iloc[0,:]

toto         1500
apple        4000
gildong      2000
catanddog    7000
Name: 2021-06-21 00:00:00, dtype: int64

In [69]:
team_df.iloc[:3,:]

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000

In [71]:
team_df['toto'] #loc처럼 사용가능(컬럼명,열 가능),iloc안됨

2021-06-21    1500
2021-06-22    3000
2021-06-23    5000
2021-06-24    7000
2021-06-25    5500
Freq: D, Name: toto, dtype: int64

In [79]:
team_df[['toto','apple']] #여러개 선택시 [,]구분으로 리스트화

            toto  apple
2021-06-21  1500   4000
2021-06-22  3000   5000
2021-06-23  5000   6000
2021-06-24  7000   5500
2021-06-25  5500   4500

In [80]:
print(type(team_df[['toto','apple']]))

<class 'pandas.core.frame.DataFrame'>

iloc 속성을 이용한 행, 열 데이터 접근하기

In [81]:
print(team_df.iloc[0]) # 첫번째 행 접근
print("------")
print(team_df.iloc[ [0,1] ]) # 첫번째 두번째 행 접근
print("------")
print(team_df.iloc[ 0:3:1] ) # 첫번째부터 세번째 행 접근
print("------")
range_num = list(range(0,3,1))
print(team_df.iloc[ range_num ] ) # 첫번째부터 세번째 행 접근

toto         1500
apple        4000
gildong      2000
catanddog    7000
Name: 2021-06-21 00:00:00, dtype: int64
------
            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
------
            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
------
            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000

# iloc,loc
 - [:,:]
 - loc[행인덱스]
 - iloc[행의 번호 0부터 시작]
 
# 값 선택
 - 객체명[열이름]:한개의 열이 선택
 - 객채명[열1,열2]: 두개 이상의 열이 선택

In [83]:
team_df

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
2021-06-24  7000   5500     4000       5000
2021-06-25  5500   4500     3000       4000

In [87]:
#기준: 열(컬럼,세로),기본값이 axis=0
print(team_df.sum() )
print("----")
print(team_df.mean() ) 
print("----")

toto         22000
apple        25000
gildong      14500
catanddog    24000
dtype: int64
----
toto         4400.0
apple        5000.0
gildong      2900.0
catanddog    4800.0
dtype: float64
----

In [88]:
#기준을 행(가로)으로 바꾸기
print(team_df.sum(axis=1) )
print("----")
print(team_df.mean(axis=1) ) 
print("----")

2021-06-21    14500
2021-06-22    15500
2021-06-23    17000
2021-06-24    21500
2021-06-25    17000
Freq: D, dtype: int64
----
2021-06-21    3625.0
2021-06-22    3875.0
2021-06-23    4250.0
2021-06-24    5375.0
2021-06-25    4250.0
Freq: D, dtype: float64
----

In [90]:
#날자별 누적 통계
team_df.cumsum()

             toto  apple  gildong  catanddog
2021-06-21   1500   4000     2000       7000
2021-06-22   4500   9000     4500      12000
2021-06-23   9500  15000     7500      15000
2021-06-24  16500  20500    11500      20000
2021-06-25  22000  25000    14500      24000

In [91]:
## 날짜별 합계
print(team_df.sum(axis=1))

2021-06-21    14500
2021-06-22    15500
2021-06-23    17000
2021-06-24    21500
2021-06-25    17000
Freq: D, dtype: int64

In [92]:
team_df

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
2021-06-24  7000   5500     4000       5000
2021-06-25  5500   4500     3000       4000

새로운 컬럼추가

In [93]:
rowsum = team_df.sum(axis=1)
print(type(rowsum))

<class 'pandas.core.series.Series'>

In [94]:
team_df['rowsum'] = team_df.sum(axis=1)
team_df

            toto  apple  gildong  catanddog  rowsum
2021-06-21  1500   4000     2000       7000   14500
2021-06-22  3000   5000     2500       5000   15500
2021-06-23  5000   6000     3000       3000   17000
2021-06-24  7000   5500     4000       5000   21500
2021-06-25  5500   4500     3000       4000   17000

In [96]:
team_df.rowsum.sort_values(ascending=False) #true:오름차순,false:내림차순

2021-06-24    21500
2021-06-25    17000
2021-06-23    17000
2021-06-22    15500
2021-06-21    14500
Name: rowsum, dtype: int64

### 실습 1-1
 * DataFrame를 하나 만들어보자. 5행, 열2-3개 만들기

In [98]:
from IPython.display import display, Image
import os, warnings
import re
warnings.filterwarnings(action='ignore')

In [99]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [100]:
driver = webdriver.Chrome('../chromedriver_90')
url = 'https://finance.naver.com/sise/'
driver.get(url)
import time
time.sleep(3) # 홈페이지 로딩 시간 3초

In [101]:
sel_stock = driver.find_element_by_xpath('//*[@id="siselist_tab_0"]')
sel_stock

//*[@id="siselist_tab_0"]/tbody/tr[3]/td[8] > 거래량

In [103]:
all_data = []
for i in range(2, 9):
     tmp = f'//*[@id="siselist_tab_0"]/tbody/tr/td[{i}]'
     sel_ele = driver.find_elements_by_xpath(tmp)
 
     column_data = []
     for one in sel_ele:   
         column_data.append(one.text.replace('\n',''))
 
     print( len(sel_ele) )
     all_data.append(column_data)
     print(column_data)
     print()

rank=[]
for i in range(1,5):
    rank.append(i)

print(rank)
print(all_data)

4
['2', '1', '1', '1']

4
['2', '3', '2', '4']

4
['솔고바이오', '한세엠케이', '네오오토', '엄지하우스']

4
['993', '9,490', '9,990', '4,885']

4
['상한229', '상한2,190', '상한2,300', '상한635']

4
['+29.97%', '+30.00%', '+29.91%', '+14.94%']

4
['4,657,563', '19,603,034', '3,157,509', '7,231']

[1, 2, 3, 4]
[['2', '1', '1', '1'], ['2', '3', '2', '4'], ['솔고바이오', '한세엠케이', '네오오토', '엄지하우스'], ['993', '9,490', '9,990', '4,885'], ['상한229', '상한2,190', '상한2,300', '상한635'], ['+29.97%', '+30.00%', '+29.91%', '+14.94%'], ['4,657,563', '19,603,034', '3,157,509', '7,231']]

In [104]:
dict_dat={"순위":rank,
          "연속":all_data[0],"누적":all_data[1],'종목명':all_data[2],
          '현재가':all_data[3],'전일비':all_data[4],
          '등락률':all_data[5],
          '거래량':all_data[6]}

In [105]:
dict_dat

{'순위': [1, 2, 3, 4],
 '연속': ['2', '1', '1', '1'],
 '누적': ['2', '3', '2', '4'],
 '종목명': ['솔고바이오', '한세엠케이', '네오오토', '엄지하우스'],
 '현재가': ['993', '9,490', '9,990', '4,885'],
 '전일비': ['상한229', '상한2,190', '상한2,300', '상한635'],
 '등락률': ['+29.97%', '+30.00%', '+29.91%', '+14.94%'],
 '거래량': ['4,657,563', '19,603,034', '3,157,509', '7,231']}

### 실습 1-2
 * DataFrame를 동일한 데이터로 만들며 index를 날짜로 넣어 보자.

In [110]:
idx=pd.date_range(start='2021-06-21',end='2021-06-24')
idx

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24'], dtype='datetime64[ns]', freq='D')

In [111]:
df = DataFrame(dict_dat,index=idx)
df

            순위 연속 누적    종목명    현재가      전일비      등락률         거래량
2021-06-21   1  2  2  솔고바이오    993    상한229  +29.97%   4,657,563
2021-06-22   2  1  3  한세엠케이  9,490  상한2,190  +30.00%  19,603,034
2021-06-23   3  1  2   네오오토  9,990  상한2,300  +29.91%   3,157,509
2021-06-24   4  1  4  엄지하우스  4,885    상한635  +14.94%       7,231

### 실습 1-3 행 선택해 보기 (iloc이용)
 * 2-3행을 선택해 보자.
 * 4번째 행을 선택해 보자.
 - iloc는 데이터 프레임의 데이터 순서(번호)를 사용하여 데이터 추출(시작번호 : 0)

In [119]:
print(df.iloc[1:2])
print()
print(df.iloc[3])

            순위 연속 누적    종목명    현재가      전일비      등락률         거래량
2021-06-22   2  1  3  한세엠케이  9,490  상한2,190  +30.00%  19,603,034

순위           4
연속           1
누적           4
종목명      엄지하우스
현재가      4,885
전일비      상한635
등락률    +14.94%
거래량      7,231
Name: 2021-06-24 00:00:00, dtype: object

### 실습 1-4 행 선택해 보기 (loc이용)
 * 2-3행을 선택해 보자.
 * 4번째 행을 선택해 보자.
 - loc는 데이터 프레임의 컬럼명(인덱스)를 사용하여 데이터 추출한다.

In [122]:
print(df.loc['2021-06-21':'2021-06-22'])
print()
print(df.loc['2021-06-24'])

            순위 연속 누적    종목명    현재가      전일비      등락률         거래량
2021-06-21   1  2  2  솔고바이오    993    상한229  +29.97%   4,657,563
2021-06-22   2  1  3  한세엠케이  9,490  상한2,190  +30.00%  19,603,034

순위           4
연속           1
누적           4
종목명      엄지하우스
현재가      4,885
전일비      상한635
등락률    +14.94%
거래량      7,231
Name: 2021-06-24 00:00:00, dtype: object

### 실습 1-5 행열 선택해 보기 (loc이용)
 * 2행 2열부터 3행 3열까지 선택해 보자.

In [124]:
print(df.loc['2:3','2:3'])

KeyError: '2:3'