In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv("../train.csv")
test=pd.read_csv("../test.csv")

train.shape, test.shape

((891, 12), (418, 11))

In [3]:
#결측치 처리
#Age_mean=train['Age'].mean()
#train['Age']=train['Age'].fillna(Age_mean)

#Age_mean=test['Age'].mean()
#test['Age']=test['Age'].fillna(Age_mean)

#train['Age']=train['Age'].fillna(train['Age'].mean())
#test['Age']=test['Age'].fillna(test['Age'].mean())

In [4]:
#train.isnull().sum()

In [5]:
#test.isnull().sum()

In [3]:
train.columns, test.columns

(Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
       dtype='object'),
 Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
        'Ticket', 'Fare', 'Cabin', 'Embarked'],
       dtype='object'))

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

(None, None)

In [6]:
#성별 숫자값으로 바꾸기
train['Sex']=train['Sex'].map( {'female':0,'male':1} ).astype(int)
test['Sex']=test['Sex'].map( {'female':0,'male':1} ).astype(int)

In [7]:
#결측치 처리 embarked
train['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [8]:
train['Embarked'].unique() #반복되는값을 뺀 값

array(['S', 'C', 'Q', nan], dtype=object)

In [9]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [10]:
train['Embarked']=train['Embarked'].fillna('S')
train['Embarked'].isnull().sum()

0

#[선택컬럼].astype(원하는 자료형)
#map():map(f, iterable)은 함수(f)와 반복 가능한(iterable) 자료형을 입력으로 받는다. map은 입력받은 자료형의 각 요소를 함수 f가 수행한 결과를 묶어서 돌려주는 함수이다.

In [11]:
train['Embarked']=train['Embarked'].map( {'S':0,'C':1,'Q':2} ).astype(int)
test['Embarked']=test['Embarked'].map( {'S':0,'C':1,'Q':2} ).astype(int)

 ([A-Za-z]+)\. : 정규표현식. 콤마 앞까지 전부 가져오기

In [12]:
train['Title']=train.Name.str.extract(' ([A-Za-z]+)\.',expand=False)
test['Title']=test.Name.str.extract(' ([A-Za-z]+)\.',expand=False)

In [13]:
pd.crosstab(train['Title'],train['Sex']) #crosstab: 특정 데이터 그룹에 대한 빈도수

Sex         0    1
Title
Capt        0    1
Col         0    2
Countess    1    0
Don         0    1
Dr          1    6
Jonkheer    0    1
Lady        1    0
Major       0    2
Master      0   40
Miss      182    0
Mlle        2    0
Mme         1    0
Mr          0  517
Mrs       125    0
Ms          1    0
Rev         0    6
Sir         0    1

In [14]:
train['Title'] = train['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
train['Title'] = train['Title'].replace('Mlle', 'Miss')
train['Title'] = train['Title'].replace('Ms', 'Miss')
train['Title'] = train['Title'].replace('Mme', 'Mrs')

test['Title'] = test['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
test['Title'] = test['Title'].replace('Mlle', 'Miss')
test['Title'] = test['Title'].replace('Ms', 'Miss')
test['Title'] = test['Title'].replace('Mme', 'Mrs')

title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
all_df = [train, test]
for dataset in all_df:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1,3
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0,3
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0,1

In [15]:
sel1=['Pclass','SibSp','Parch','Embarked','Sex','Title']
X_train=train[sel1] #대문자 2차원데이터
y_train=train['Survived'] #소문자 1차원데이터

X_test=test[sel1]

X_train.head(),y_train.head(),X_test.head()

(   Pclass  SibSp  Parch  Embarked  Sex  Title
 0       3      1      0         0    1      1
 1       1      1      0         1    0      3
 2       3      0      0         0    0      2
 3       1      1      0         0    0      3
 4       3      0      0         0    1      1,
 0    0
 1    1
 2    1
 3    1
 4    0
 Name: Survived, dtype: int64,
    Pclass  SibSp  Parch  Embarked  Sex  Title
 0       3      0      0         2    1      1
 1       3      1      0         0    0      3
 2       2      0      0         2    1      1
 3       3      0      0         0    1      1
 4       3      1      1         0    0      3)

In [16]:
#머신러닝 모델 객체 만들기>모델 훈련시키기>훈련 시킨 모델로 예측하기

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
tree=DecisionTreeClassifier() #머신러닝 모델 객체 만들기
tree.fit(X_train, y_train) #모델 훈련시키기
pred=tree.predict(X_test) #훈련 시킨 모델로 예측하기

In [21]:
#캐글제출
sub=pd.read_csv("../gender_submission.csv")
sub['Survived']=pred
sub.to_csv('first_sub_age_parch_embarked_sex_title.csv',index=False)

In [22]:
sub

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]