In [1]:
from IPython.display import display, Image
import os, warnings
import re
warnings.filterwarnings(action='ignore')

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [3]:
driver = webdriver.Chrome('../chromedriver_90')
url = 'https://finance.naver.com/sise/'
driver.get(url)
import time
time.sleep(3) # 홈페이지 로딩 시간 3초

In [4]:
sel_stock = driver.find_element_by_xpath('//*[@id="siselist_tab_0"]')
sel_stock

//*[@id="siselist_tab_0"]/tbody/tr[3]/td[1]/img

//*[@id="siselist_tab_0"]/tbody/tr[3]/td[4]/a
//*[@id="siselist_tab_0"]/tbody/tr[4]/td[4]/a

//*[@id="siselist_tab_0"]/tbody/tr[3]/td[11]

In [33]:
all_data = []
for i in range(2, 12):
     tmp = f'//*[@id="siselist_tab_0"]/tbody/tr/td[{i}]'
     sel_ele = driver.find_elements_by_xpath(tmp)
 
     column_data = []
     for one in sel_ele:   
         column_data.append(one.text.replace('\n',''))
 
     print( len(sel_ele) )
     all_data.append(column_data)
     print(column_data)
     print()

rank=[]
for i in range(1,6):
    rank.append(i)

print(rank)
print(all_data)

5
['1', '1', '1', '1', '1']

5
['1', '3', '1', '1', '3']

5
['삼일기업공사', '진원생명과학', '대신정보통신', '솔고바이오', '휴마시스']

5
['10,550', '43,250', '3,265', '764', '16,900']

5
['상한2,400', '상한9,950', '상한750', '상한176', '상한3,900']

5
['+29.45%', '+29.88%', '+29.82%', '+29.93%', '+30.00%']

5
['1,116,957', '35,954,558', '29,567,819', '4,679,715', '25,610,042']

5
['9,920', '32,800', '2,985', '588', '13,250']

5
['10,550', '43,250', '3,265', '764', '16,900']

5
['9,840', '32,600', '2,935', '588', '13,150']

[1, 2, 3, 4, 5]
[['1', '1', '1', '1', '1'], ['1', '3', '1', '1', '3'], ['삼일기업공사', '진원생명과학', '대신정보통신', '솔고바이오', '휴마시스'], ['10,550', '43,250', '3,265', '764', '16,900'], ['상한2,400', '상한9,950', '상한750', '상한176', '상한3,900'], ['+29.45%', '+29.88%', '+29.82%', '+29.93%', '+30.00%'], ['1,116,957', '35,954,558', '29,567,819', '4,679,715', '25,610,042'], ['9,920', '32,800', '2,985', '588', '13,250'], ['10,550', '43,250', '3,265', '764', '16,900'], ['9,840', '32,600', '2,935', '588', '13,150']]

In [34]:
import pandas as pd

In [35]:
dict_dat={"순위":rank,
          "연속":all_data[0],"누적":all_data[1],'종목명':all_data[2],
          '현재가':all_data[3],'전일비':all_data[4],
          '등락률':all_data[5],
          '거래량':all_data[6],'시가':all_data[7],
          '고가':all_data[8],'저가':all_data[9]}
dat = pd.DataFrame(dict_dat)
dat

,순위,연속,누적,종목명,현재가,전일비,등락률,거래량,시가,고가,저가
0,1,1,1,삼일기업공사,"10,550","상한2,400",+29.45%,"1,116,957","9,920","10,550","9,840"
1,2,1,3,진원생명과학,"43,250","상한9,950",+29.88%,"35,954,558","32,800","43,250","32,600"
2,3,1,1,대신정보통신,"3,265",상한750,+29.82%,"29,567,819","2,985","3,265","2,935"
3,4,1,1,솔고바이오,764,상한176,+29.93%,"4,679,715",588,764,588
4,5,1,3,휴마시스,"16,900","상한3,900",+30.00%,"25,610,042","13,250","16,900","13,150"

In [36]:
dat.to_csv("naver_stock_top.csv", index=False)
os.listdir( os.getcwd() )

['.ipynb_checkpoints',
 '0622_corona.ipynb',
 '0622_corona2.ipynb',
 '0622_coronaboard_clean_version.ipynb',
 '0622_graph.ipynb',
 '0622_hw.ipynb',
 '0622_naver_hw.ipynb',
 '0622_our_world_in_data.ipynb',
 'covid_data.csv',
 'naver_stock_top.csv',
 'README.md',
 'today_corona.csv',
 'today_corona_pre.csv',
 'vaccine_2021_06_22.csv']