## 백신 접종현황 크롤링 via 공공데이터포털 API
[API 출처](https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15077756)
[참고자료](https://blog.naver.com/da0097/222296025258)

In [ ]:
import requests
import pandas as pd

In [ ]:
API_KEY = input("API키를 입력해주세요:")
PER_PAGE = 1000
BASE_DATE = "2021-03-20 00:00:00"
BASE_URL = f"https://api.odcloud.kr/api/15077756/v1/vaccine-stat?perPage={PER_PAGE}&cond%5BbaseDate%3A%3ALTE%5D={BASE_DATE}&serviceKey={API_KEY}"

In [ ]:
response = requests.get(BASE_URL)
response.status_code

200

In [ ]:
response_obj = response.json()

In [ ]:
vacc = pd.json_normalize(response_obj["data"])
vacc

     accumulatedFirstCnt  accumulatedSecondCnt  ... totalFirstCnt  totalSecondCnt
0                 449535                     0  ...        500635               0
1                  61232                     0  ...         73827               0
2                  36734                     0  ...         40045               0
3                  23101                     0  ...         25411               0
4                  23879                     0  ...         25670               0
..                   ...                   ...  ...           ...             ...
175                28569                     0  ...         28911               0
176                32778                     0  ...         33147               0
177                36083                     0  ...         36524               0
178                49367                     0  ...         49889               0
179                 7931                     0  ...          8231               0

[180 rows x 8 columns]